---
import Layout from "../layouts/Layout.astro";
import Service from "../components/Service.astro";
import NavBar from "../components/NavBar.astro";
import DonationButton from "../components/DonationButton.astro";
import BlogPost from "../components/BlogPost.astro";
import QuestionsForm from "../components/QuestionsForm.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<script type="text/javascript" src="mobile.js"></script>

<Layout title="Welcome to Parity.">
  <header>
    <a class="logo" href="/"></a>
    <img src="/Parity/img/Parity-colour-logo.jpg" alt="logo" />
  </header>

  <NavBar />
  <DonationButton />

  <section id="services">
    <div class="container">
      <div class="section-title">
        <h1>Our Services</h1>
        <div class="line"></div>
      </div>

      <div class="services">
        <Service
          title="What we do:"
          description="We function through comprehensive day services, offering a lifeline to individuals with disabilities, leveraging various utilities."
          image="/Parity/Links/can.png"
          link="/HTML//Services/wwd.html"
        />

        <Service
          title="Our day services:"
          description="We function through comprehensive day services, offering a lifeline to individuals with disabilities, leveraging various utilities."
          image="/Parity/Links/3.png"
          link="/HTML//Services/wwd.html"
        />

        <Service
          title="Music Therapy:"
          description="Parity utilizes music therapy to aid individuals with disabilities, through emotional expression, physical movement, and social connection."
          image="/Parity/Links/climb.png"
          link="/HTML//Services/wwd.html"
        />

        <Service
          title="How can you help?"
          description="You can support us through charitable donations, volunteering, raising awareness, organizing fundraisers and attending events."
          image="/Parity/Links/Staff4.jpg"
          link="/HTML//Services/wwd.html"
        />
      </div>
    </div>
  </section>

  <section id="News">
    <div class="container">
      <div class="news-title">
        <h1>Latest News</h1>
        <div class="line"></div>
      </div>
      <div class="news">
        {
          allPosts.map((post) => (
            <BlogPost
              url={post.url}
              title={post.frontmatter.title}
              description={post.frontmatter.description}
              image={post.frontmatter.image.url}
              imageAlt={post.frontmatter.image.alt}
            />
          ))
        }
      </div>
    </div>
  </section>

  <QuestionsForm />

  <Footer />
</Layout>
